version: "3.9"

services:
  telegram-bot:
    build: .
    container_name: telegram-warehouse-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    environment:
    - TZ=Europe/Kyiv
